version: '3.9'

services:
  naughts-and-crosses-ui-1:
    image: naughts-and-crosses-ui:latest
    container_name: naughts-and-crosses-ui-1
    ports:
      - 3001:80
    environment:
      NGINX_PROXY_BACKEND_BASE_URL: http://naughts-and-crosses-api-1:80
    depends_on:
      - naughts-and-crosses-api-1
      
  naughts-and-crosses-ui-2:
    image: naughts-and-crosses-ui:latest
    container_name: naughts-and-crosses-ui-2
    profiles: [ "multi-node" ]
    ports:
      - 3002:80
    environment:
      NGINX_PROXY_BACKEND_BASE_URL: http://naughts-and-crosses-api-2:80
    depends_on:
      - naughts-and-crosses-api-2

  naughts-and-crosses-api-1:
    image: naughts-and-crosses-api:latest
    container_name: naughts-and-crosses-api-1
    environment:
      SERVER_PORT: 80
      CORS_ALLOWED_ORIGINS: http://localhost:3001
      DATABASE_URL: jdbc:postgresql://naughts-and-crosses-db:5432/naughts-and-crosses-api
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_DRIVER: org.postgresql.Driver
      BROKER_SSL_ENABLED: false
      BROKER_HOST: activemq
      BROKER_PORT: 61613
      BROKER_CLIENT_LOGIN: artemis
      BROKER_CLIENT_PASSCODE: artemis
      BROKER_SYSTEM_LOGIN: artemis
      BROKER_SYSTEM_PASSCODE: artemis
      AUTH_ISSUER_URL: http://cognito:9229/local_4RsGXSAf
      AWS_COGNITO_USER_POOL_ID: "local_4RsGXSAf"
      AWS_COGNITO_USER_POOL_CLIENT_ID: "6b0j5hb1u25z290vv502lfl1c"
      AWS_COGNITO_REGION_NAME: eu-central-1
      AWS_COGNITO_ENDPOINT_OVERRIDE: http://cognito:9229
      AWS_COGNITO_ACCESS_KEY_ID: abc
      AWS_COGNITO_SECRET_ACCESS_KEY: 123
    restart: on-failure
    depends_on:
      - naughts-and-crosses-db
      - activemq
      - cognito

  naughts-and-crosses-api-2:
    image: naughts-and-crosses-api:latest
    container_name: naughts-and-crosses-api-2
    profiles: [ "multi-node" ]
    environment:
      SERVER_PORT: 80
      CORS_ALLOWED_ORIGINS: http://localhost:3002
      DATABASE_URL: jdbc:postgresql://naughts-and-crosses-db:5432/naughts-and-crosses-api
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_DRIVER: org.postgresql.Driver
      BROKER_SSL_ENABLED: false
      BROKER_HOST: activemq
      BROKER_PORT: 61613
      BROKER_CLIENT_LOGIN: artemis
      BROKER_CLIENT_PASSCODE: artemis
      BROKER_SYSTEM_LOGIN: artemis
      BROKER_SYSTEM_PASSCODE: artemis
      AUTH_ISSUER_URL: http://cognito:9229/local_4RsGXSAf
      AWS_COGNITO_USER_POOL_ID: "local_4RsGXSAf"
      AWS_COGNITO_USER_POOL_CLIENT_ID: "6b0j5hb1u25z290vv502lfl1c"
      AWS_COGNITO_REGION_NAME: eu-central-1
      AWS_COGNITO_ENDPOINT_OVERRIDE: http://cognito:9229
      AWS_COGNITO_ACCESS_KEY_ID: abc
      AWS_COGNITO_SECRET_ACCESS_KEY: 123
    restart: on-failure
    depends_on:
      - naughts-and-crosses-db
      - activemq
      - cognito
      
  naughts-and-crosses-db:
    image: postgres:16-alpine
    container_name: naughts-and-crosses-db
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: naughts-and-crosses-api

  cognito:
    image: michaelruocco/cognito-local:latest
    container_name: cognito
    volumes:
      - ./cognito:/app/.cognito/db/
    ports:
      - 9229:9229
    environment:
      - AWS_ACCESS_KEY_ID=abc
      - AWS_SECRET_ACCESS_KEY=123
      - ISSUER_HOST=cognito
      - CODE=9999

  activemq:
    image: apache/activemq-artemis:latest-alpine
    container_name: activemq